%div.container
  %div.navbar
    %div.navbar-inner
      = link_to "Network", '#', class: 'brand'
      %ul.nav
        %li{class: 'active switch', id: 'cluster'}= link_to 'Cluster', '#'
%div.container
  %div#viz
%div#legend
