@import 'bootstrap';
.link {
  stroke: #D3D3D3; //#0A0A0A;
  stroke-opacity: 1;
}

circle.leaf {
  stroke: #fff;
  stroke-width: 1px;
}

circle.group {
  stroke: #555;
  stroke-width: 2px;
}

.viz {
  border: 1px solid #ccc;
}
